#fifteen {
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -96px;
	margin-top: -126px;
	background-color: #e6f5ff;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	border: 2px solid #091552;
	cursor: default;
}

#fifteen, #field {
	width: 188px;
}

#field {
	height: 188px;
}

#toolbar {
	clear: both;
	height: 62px;
	border: #E6F5FF solid 1px;
	width: 186px;
	background-color: #D9E4F7;
	font-size: 26px;
}

div.field-element {
	height: 45px;
	width: 45px;
	line-height: 45px;
	background-color: #A8C9FD;
	border: #e6f5ff solid 1px;
	color: #091552;
	font-size: 18px;
	position: absolute;
}

.pointer {
	cursor: pointer;
}

.toolbar-button .icon {
	height: 32px;
	width: 32px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	margin-left: 16px;
}


div.toolbar-button {
	height: 60px;
	width: 62px;
	line-height: 60px;
	color: #165ac6;
	position: relative;
}

div.field-element, div.toolbar-button {
	float: left;
	text-align: center;
}
#shuffle {
	background-image: url('images/shuffle.png');
}
#play_stop.play {
	background-image: url('images/play.png');
}
#play_stop.stop {
	background-image: url('images/stop.png');
}
.progress {
	cursor: progress;
}